body {
    font-family: $font-family;
}

h1 {
    padding: 40px 0;
    font-size: 62px;
    font-weight: 800;
    @media #{$breakpoint-md} {
        font-size: 52px;
    }
    @media #{$breakpoint-s} {
        font-size: 42px;
    }
    @media #{$breakpoint-xs} {
        font-size: 32px;
    }
}

h2 {
    padding: 40px 0;
    font-size: 48px;
    font-weight: 800;
    @media #{$breakpoint-md} {
        font-size: 38px;
    }
    @media #{$breakpoint-s} {
        font-size: 28px;
    }
    @media #{$breakpoint-xs} {
        font-size: 24px;
    }
}

h3 {
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    @media #{$breakpoint-md} {
        font-size: 24px;
    }
    @media #{$breakpoint-s} {
        font-size: 20px;
    }
    @media #{$breakpoint-s} {
        font-size: 18px;
    }
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
    @media #{$breakpoint-md} {
        font-size: 14px;
    }
    @media #{$breakpoint-s} {
        font-size: 12px;
    }

}

a {
    text-decoration: none;
    color: $text-gray;
}

img {
    object-fit: cover;
}

button {
    border: none;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    font-size: 14px;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: $primary-color-golden-light;
}

.text-align-center {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}

.link-golden-darken{
    color: $primary-color-golden-darken;
}

.margin-t-25 {
    margin-top: 25px;
}

.border-none {
    border: none;
}

.color-red {
    color: $red;
}