@mixin form-input-select($min-width, $min-height, $border-radius, $border){
    min-width: $min-width;
    min-height: $min-height;
    border-radius: $border-radius;
    border: $border;
}


@mixin card-item($width, $height, $border-radius) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
}