{% extends 'base.html.twig' %}

{% block title %}Dashboard | Nouvel utilisateur{% endblock %}

{% block body %}
    <button id="scrollToTopBtn" class="btn-scroll-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <div class="dashboard_container">
        {{ include('admin/_navbar_dashboard.html.twig') }}
        <div class="dashboard_container_content">
            <h1 class="dashboard_title">Créer un nouvel utilisateur</h1>
            {{ include('admin/_form_new_user.html.twig') }}
            <div class="dashboard_btn_container">
                <a href="{{ path('app_admin_index') }}" class="btn btn_outlined_golden"><i class="fa-solid fa-arrow-left-long"></i>  Retour à la page précédente</a>
            </div>
        </div>

    </div>

{% endblock %}
