<form method="post" action="{{ path('app_admin_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette categorie ?');" class="display-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    {% if showDeleteIcon %}
        <button><i class="fas fa-trash-alt color-red"></i></button>
    {% else %}
        <button class="btn btn_filled_red">Supprimer</button>
    {% endif %}
</form>
