{% extends 'base.html.twig' %}

{% block title %}Dashboard | Créer un article{% endblock %}

{% block body %}
<button id="scrollToTopBtn" class="btn-scroll-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<div class="dashboard_container">
    {{ include('admin/_navbar_dashboard.html.twig') }}
    <div class="dashboard_container_content">
        <h1>Créer une categorie</h1>
        {{ include('admin_category/_form.html.twig') }}
        <div class"dashboard_btn_container">
            <a href="{{ path('app_admin_category_index') }}"class="btn btn_outlined_golden"><i class="fa-solid fa-arrow-left-long"></i>  Retour à la page précédente</a>
        </div>
    </div>
</div>
{% endblock %}
