.dropdown_categories_menu_container{
    display: flex;
    i {
        padding: 0 10px;
    }
}
.dropdown_categories_menu{
    display: none;
    position: absolute;
    left: 130px;
    top: 72px;
    width: unset;
    background-color: $white;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: $box-shadow-dropdown;
}
.dropdown_categories_menu-link{
    text-align: center;
    transition: 300ms;
    a {
        padding: 20px 11.2px;
        display: inline-block;
        transition: 300ms;
        width: auto;
    }
}
.dropdown_categories_menu.is-open{
    height: auto;
    display: block;
    .dropdown_categories_menu-link {
        &:hover {
            background-color: $primary-color-golden;
        }
    }
    a {
        &:hover{
            color: $white;
        }
    }
}