.btn {
    padding: 10px 20px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.btn_filled_green {
    background-color: $secondary-color-green-darken;
    color: $white;
    transition: 300ms;
    &:hover{
        background-color: $secondary-color-green-light;
        color: $secondary-color-green-darken;
    }
}

.btn_outlined_green{
    background-color: $secondary-color-green-light;
    color: $secondary-color-green-darken;
    transition: 300ms;
    &:hover{
        background-color: $secondary-color-green-darken;
        color: white;
    }
}