.form_container {
    display: flex;
    margin: 100px 0;
    justify-content: space-around;
        @media #{$breakpoint-md} {
            margin: 100px 50px;
        }
}

.form_img {
    border-radius: 45px;
    width: 600px;
    height: 800px;
    @media #{$breakpoint-xl} {
        display: none;
    }
}

.form_container-title {
    text-align: center;
}

.form_container_content-element {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    label {
        padding-bottom: 10px;
    }
}

.form_container_content-element-agreeTerms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    label {
        padding-left: 10px;
    }
}

.form_container_content-element-input {
    @include form-input-select(404px, 50px, 8px, 1px solid #ccc);
    margin-bottom: 50px;
    padding: 0 10px;
    width: 100%;
    @media #{$breakpoint-md} {
        @include form-input-select(290px, 50px, 8px, 1px solid #ccc);
    }
    @media #{$breakpoint-s} {
        @include form-input-select(180px, 50px, 8px, 1px solid #ccc);
    }
    @media #{$breakpoint-xs} {
        @include form-input-select(100px, 50px, 8px, 1px solid #ccc);
    }
}

#registration_form_plainPassword {
    
    label {
        display: none;
    }

    ul {
        color: $red;
        font-size: 13px;
        padding-bottom: 10px;
    }
}
#user_plainPassword {
    
    label {
        display: none;
    }
}

#new_user_password {
    label {
        display: none;
    }
    ul {
        color: $red;
        font-size: 13px;
        padding-bottom: 10px;
    }
}

#change_password_form_password {
    label {
        display: none;
    }
    ul {
        color: $red;
        font-size: 13px;
        padding-bottom: 10px;
    }
}

#article_imageFile {
    margin-bottom: 50px;
}

#category_description {
    padding: 10px;
    font-family: $font-family;
}


.form_container_content-validation-mdp {
    font-size: 13px;
    margin-bottom: 30px;
    p {
        font-size: 13px;
        margin: 0;
    }
    ul {
        list-style-type: disc;
        padding-left: 20px;
    }
}

.form_container_content-error {
    color: $red;
    font-size: 13px;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}

#admin_roles label {
    padding: 10px 15px 0 6px;
}