// HERO CONTAINER
.hero_container {
    height: calc(100vh - 72px);
    background-image: url(/public/img/remedes-naturel-medicament-gingembre-ail.jpg);
    background-size: cover;
}

.hero_container_element {
    width: 540px;
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    @media #{$breakpoint-md} {
        padding: 0 15px;
        width: auto;
    }
    h1{
        color: $primary-color-golden-darken;
    }
    p {
        font-size: 20px;
        @media #{$breakpoint-md} {
            font-size: 16px;
        }
        @media #{$breakpoint-s} {
            font-size: 14px;
        }
    }
    a {
        width: 150px;
    }
}

// SEARCH CONTAINER

.search_container{
    margin: 40px 80px;
    @media #{$breakpoint-md} {
        margin: 20px 40px;
    }
    @media #{$breakpoint-s} {
        margin: 10px 20px;
    }
    @media #{$breakpoint-xs} {
        margin: 5px 10px;
    }
}

.search_card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .search_card_container-item {
        max-width: 350px;
        height: 294px;
        background-color: $primary-color-golden-light;
        margin: 10px;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media #{$breakpoint-md} {
            width: 100%;
        }
        img {
            width: 50px;
            height: 50px;
        }
        .search_card_container-item-text{
            align-items: start;
            p {
                padding-bottom: 50px;
            }
            a {
                color: $secondary-color-green-darken;
            }
        }
    }
}

// ARTICLE CONTAINER
.article_container {
    margin: 40px 80px;
    @media #{$breakpoint-md} {
        margin: 20px 40px;
    }
    @media #{$breakpoint-s} {
        margin: 10px 20px;
    }
    @media #{$breakpoint-xs} {
        margin: 5px 10px;
    }
}

.article_container_element{
    display: flex;
    justify-content: space-between;
    @media #{$breakpoint-x} {
        flex-wrap: wrap;
    }
    .article_container-element-item {
        margin: 50px 25px 50px 0;
        display: flex;
        width: 570px;
        @media #{$breakpoint-xl} {
            width: 450px;
        }
        @media #{$breakpoint-x} {
            width: 100%;
        }
        @media #{$breakpoint-small} {
            flex-direction: column;
        }
        img {
            width: 250px;
            height: 350px;
            object-fit: cover;
            @media #{$breakpoint-md} {
                width: 235px;
                // height: 235px;
            }
            @media #{$breakpoint-small} {
                width: 100%;
            }
        }
        .article_container_element-item-text{
            padding-left: 30px;
            @media #{$breakpoint-small} {
                padding: 20px 0 0 0;
            }
            .article_container_element_item-text-tag {
                padding: 10px;
                background-color: $primary-color-golden;
                width: 150px;
                color: white;
            }
        }
    }
}

// MY STORY CONTAINER
.my_story_container{
    margin: 40px 80px;
    display: flex;
    @media #{$breakpoint-md} {
        margin: 20px 40px;
        flex-direction: column;
    }
    @media #{$breakpoint-s} {
        margin: 10px 20px;
    }
    @media #{$breakpoint-xs} {
        margin: 5px 10px;
    }
    img {
        width: 540px;
        height: 540px;
        object-fit: cover;
        @media #{$breakpoint-x} {
            width: 400px;
            height: 400px;
        }
        @media #{$breakpoint-md} {
            width: 100%;
        }
    }
    .my_story_container_text_content {
        padding-left: 30px;
        width: 540px;
        margin: 10px 0;
        @media #{$breakpoint-md} {
            width: 100%;
            padding: 0;
        }
        p {
            margin-bottom: 50px;
        }
        a {
            color: $secondary-color-green-darken;
        }
    }
    
}

// NEWSLETTER CONTAINER
.newsletter_container {
    background-color: $primary-color-golden-light;
    text-align: center;
    padding: 40px 0;
    p {
        text-align: center;
        padding: 0px 70px 20px 70px;
    }
    form {
        input {
            width: 327px;
            height: 44px;
            background-color: $secondary-color-green;
            border: none;
            padding-left: 10px;
            @media #{$breakpoint-md} {
                width: 227px;
            }
            @media #{$breakpoint-s} {
                width: 127px;
            }
            &::placeholder{
                color: $white;
            }
        }
        button {
            height: 44px;
            width: 160px;
            border: none;
            background-color: $secondary-color-green-light;
            color: $secondary-color-green-darken;
            transition: 300ms;
            @media #{$breakpoint-md} {
                width: 100px;
            }
            &:hover{
                background-color: $secondary-color-green-darken;
                color: white;
            }
        }
    }
}


