.reset_password_container {
    height: calc(100vh - 72px);
    margin: 100px 50px;
    text-align: center;
    @media #{$breakpoint-s} {
        margin: 50px 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
            label {
                margin: 10px;
                text-align: start;
            }
            input {
                padding: 0 10px;
                @include form-input-select(404px, 50px, 8px, 1px solid #ccc);
                @media #{$breakpoint-md} {
                    @include form-input-select(290px, 50px, 8px, 1px solid #ccc);
                }
                @media #{$breakpoint-s} {
                    @include form-input-select(180px, 50px, 8px, 1px solid #ccc);
                }
                @media #{$breakpoint-xs} {
                    @include form-input-select(100px, 50px, 8px, 1px solid #ccc);
                }
            }
        }

        small {
            margin: 20px 0;
        }
        li {
            color: $red;
            font-size: 13px;
        }
    }
}

.reset_password_check_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 72px);
    margin: 100px ;
}

.reset_password_list li {
    text-align: start;
}