{{ form_start(form) }}
    {{ form_widget(form.q)}}
    {{ form_widget(form.categories)}}
    <button class="btn btn_outlined_golden">Rechercher <i class="fa-solid fa-magnifying-glass"></i></button>
{{ form_end(form) }}