{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <button id="scrollToTopBtn" class="btn-scroll-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <div class="dashboard_container">
        {{ include('user/_navbar_dashboard.html.twig') }}
        <div class="dashboard_container_content">
            <h1 class="dashboard_title">Modifier mon profil</h1>
                {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="dashboard_btn_container">
                {{ include('user/_delete_form.html.twig') }}
                <a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="btn btn_outlined_golden"><i class="fa-solid fa-arrow-left-long"></i>  Retour à la page précédente</a>
            </div>
        </div>

    </div>

{% endblock %}
